<h1>Cadastro de personagem</h1>

<form [formGroup]="form">
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" formControlName="nome">
  </div>
  <div class="form-group">
    <label>Alinhamento</label>
    <input type="text" class="form-control" formControlName="alinhamento">
  </div>
  <div class="form-group">
    <label>Inteligencia</label>
    <input type="text" class="form-control" formControlName="inteligencia">
  </div>
  <div class="form-group">
    <label>Força</label>
    <input type="text" class="form-control" formControlName="forca">
  </div>
  <div class="form-group">
    <label>Destreza</label>
    <input type="text" class="form-control" formControlName="destreza">
  </div>
  <div class="form-group">
    <label>Poder</label>
    <input type="text" class="form-control" formControlName="poder">
  </div>
  <div class="form-group">
    <label>Combate</label>
    <input type="text" class="form-control" formControlName="combate">
  </div>
  <div class="form-group">
    <label>Defesa</label>
    <input type="text" class="form-control" formControlName="defesa">
  </div>
  <button (click)="cadastra()" [disabled]="form.invalid" class="btn btn-primary">Cadastrar</button>
</form>
