<div class="card">
  <div class="card-header" *ngIf="titulo">
    {{titulo}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nome: {{personagem.nome}}</li>
    <li class="list-group-item">Alinhamento: {{personagem.alinhamento}}</li>
    <li class="list-group-item">Combate: {{personagem.combate}}</li>
    <li class="list-group-item">Defesa: {{personagem.defesa}}</li>
    <li class="list-group-item">Destreza: {{personagem.destreza}}</li>
    <li class="list-group-item">Forca: {{personagem.forca}}</li>
    <li class="list-group-item">Inteligencia: {{personagem.inteligencia}}</li>
    <li class="list-group-item">Poder: {{personagem.poder}}</li>
  </ul>
</div>
