<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Herois</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Partida
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/', 'partida', 'nova']">Nova partida</a>
          <a class="dropdown-item" [routerLink]="['/', 'partida', 'todas']">Todas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCadastro" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Personagem
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownCadastro">
          <a class="dropdown-item" [routerLink]="['/', 'personagem', 'cadastro']">Cadastrar personagem</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
